@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

  /* font-optical-sizing: auto; */
  font-weight: 500;
  /* font-style: normal; */
}
